<!doctype html>
<html>
	<head>
		<title>simplyHomework Help | {{.Title}}</title>
		<link href="/article.css" rel="stylesheet" />
	</head>

	<body>
		<article>
			<section>
				<h1 id="title">{{.Title}}</h1>
			</section>

			<section id="metadata">
				{{with .Author}}
					<div class="section">
						<address class="author">{{.}}</address>
					</div>
				{{end}}
				{{with .CreationDate}}
					<div class="section">
						<time pubdate datetime="{{.Format "2006-01-02"}}">{{.Format "2006-01-02"}}</time>
					</div>
				{{end}}
				{{with .Tags}}
					<div class="section">
						<ul>
							{{range .}}
								<li>{{.}}</li>
							{{end}}
						</ul>
					</div>
				{{end}}
			</section>

			<section>
				{{.HTMLContent}}
			</section>
		</article>
	</body>
</html>
